@page "/"
@using CbeViewer.Data
@inject DataRepository DataRepository
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welcome to CbeViewer!</h1>

<input placeholder="Search..." type="text" class="form-control" id="search" @bind="SearchTerm" @bind:event="oninput" @bind:after="FilterFolders" />

<p>Here are the available folders:</p>

<ul>
    @foreach (var dir in FilteredFolders)
    {
        <li>
            <a href="@("videos/"+dir)">@dir</a>
        </li>
    }
</ul>

@code {
    private List<string> Folders { get; set; } = [];
    private List<string> FilteredFolders { get; set; } = [];
    private string SearchTerm { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        Folders = DataRepository.GetFolders();
        FilteredFolders = Folders;
    }

    private void FilterFolders()
    {
        FilteredFolders = string.IsNullOrWhiteSpace(SearchTerm)
            ? Folders
            : Folders.Where(folder => // searching for folders
                folder.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) || 
                folder.Contains(SearchTerm.Replace(' ', '_'),  StringComparison.InvariantCultureIgnoreCase))
                .ToList();
    }
}